
.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}



header {
    background-color: yellow;
    padding: 10px 0px;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0px auto;
}


.characters {
    list-style: none;
    padding-top: 50px;
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
}

.characters h3, a {
    color: blue;
    text-decoration: underline;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    width: 80%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0px auto;
}

.sticky_footer img {
    height: 750px;
    width: 1200px;
    border-radius: 50px;
}

.lb_heading1 {
    color: green;
}

.lb_heading2 {
    color: orange;
}

.lb_heading3 {
    color: blue;
}

.lb_heading4 {
    color: yellow;
}

.lb_heading5 {
    color: pink;
}

.lb_heading6 {
    color: purple;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/spritesheetpokemon.jpg');
}

#cap { 
    background-position: 0px 0px; 
}

#carol {
    background-position: -150px 0px;
}

#clint {
    background-position: -300px 0px;
}

#hulk {
    background-position: -450px 0px;
}

#thor {
    background-position: -600px 0px;
}

#widow {
    background-position: -750px 0px;
}

#cap:hover, #carol:hover, #clint:hover, #hulk:hover, #thor:hover, #widow:hover {
    background-position-y: -150px;
}

footer {
    color: white;
    padding: 20px 0px;
    text-align: center;
}





